
.theme-dark {
	--text-highlight-bg: #A13089;
}

.cm-s-obsidian span.cm-highlight, .markdown-rendered mark {
    color: #131313;
    padding: 0 10px;
    letter-spacing: 0.05em;
    border-radius: 20px 5px 20px 5px
}
